
body{
    background-color: rgb(76, 76, 76);
}

h1{
    font: 2em sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
}

nav{
    background-color: rgba(66, 66, 66, 0.50);
    text-align: right;
}

.nav-enlaces{
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 25px 30px 25px;
    text-decoration: none;
}

.nav-enlaces:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

#seccionSuperior{
    color: white;
    text-align: left;
    padding-top: 5%;
    padding-left: 3%;

}

#seccionInferior{
    
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    text-align: left;
    width:99%;
    height:40%;
    position:fixed;
    bottom: 0;
    

}

