
.imperio{
    background-color: red;
}

.reveldes{
    background-color: blue;
}

.borde_soldados{
    border: double;
    letter-spacing: 5px;
}

.unidades_apoyo{
    text-align: center;
}

.naves_mayuscula{
    text-transform: uppercase;
}

#darth_vader{
    font-size: 400%;
}

#luke{
    font-style: italic;
}

#imperio *{

    background-color: black;
    color: red;
}

#reveldes *{
    background-color: #ffa500;
    color: rgb(255, 255, 255)
}

#nombre_darth_vader *{
    background-color:darkgray;
}

#nombre_luck *{
    background-color:darkgray;
}

#originales{
    background-color: blue;
    color:white;
}

